@import url('https://fonts.googleapis.com/css?family=Poppins');
/*This code is pulled from an open source/free-use project, I just don't remember from where*/

/* BASIC */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

header>nav.horizontal>ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  height: 50px;
}

header>nav.horizontal>ul>li {
  display: block;
  font-size: 1.4em;
  line-height: 50px;
  height: 50px;
}

header>nav.horizontal>ul>li>a {
  display: block;
  color: #fff;
  padding: 0px 15px;
}

header>nav.horizontal {
  background: #CFB284;
  display: block;
  margin: 0px;
  height: 50px;
  width: auto;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



/* STRUCTURE */

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #000000;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("login-img.jpg");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("signup-img.jpg");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid #fff0cb;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field2 input:is(:focus, :valid) {
  padding: 16px 250px 0;
}

.input-field input:is(:focus, :valid)~label {
  transform: translateY(-120%);
  color: #00bcd4;
  font-size: 0.75rem;
}

.form-box a {
  color: #00bcd4;
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #272525;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: #fff0cb;
  transition: 0.2s ease;
}

form button:hover {
  background: #0097a7;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}


.form-style-2 {
  border: 2px dashed #007BFF;
  padding: 150px;
  margin: 15px;
  background-color: #e0f7fa;
}


@media (max-width: 900px) {
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    font-size: 1.4rem;
  }

  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }

  .navbar .links.show-menu {
    left: 0;
  }

  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }

  .navbar .links a:hover {
    color: #00BCD4;
  }

  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}




/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #D3D6E6;
  border: none;
  color: #eb0f0f;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #BAC5FF;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type2=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}



/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}

header>nav.horizontal {
  background: #CFB284;
  display: block;
  margin: 0px;
  height: 50px;
  width: auto;
}

header>nav.horizontal>ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  height: 50px;
}

header>nav.horizontal>ul>li {
  display: block;
  font-size: 1.4em;
  line-height: 50px;
  height: 50px;
}

header>nav.horizontal>ul>li>a {
  display: block;
  color: #fff;
  padding: 0px 15px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  height: 100%;
  width: 100%;
}

header>nav.horizontal {
  background: #CFB284;
  display: block;
  margin: 0px;
  height: 50px;
  width: auto;
}

header>nav.horizontal>ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  height: 50px;
}

header>nav.horizontal>ul>li {
  display: block;
  font-size: 1.4em;
  line-height: 50px;
  height: 50px;
}

header>nav.horizontal>ul>li>a {
  display: block;
  color: #fff;
  padding: 0px 15px;
}

/*I'm probably going to end up reusing a lot of old code, bear with me while I relearn everything*/

body {
  background-color: #FFEFCB;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.shoe {
  max-width: 100%;
  height: auto;
}

.bg_img {
  filter: blur(5px)
}

.home_text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}